// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


//CoffeeGrinder Colors
$babyblue: #b0deff;
$background-gray: #ececec;


// COOLFIT COLORS
$background-gray: #ececec;
$light-gray: #C8C8C8;
$gray: #636363;
$dark-gray: #4C4C4C;
$orange: #FA9800;
