<title>CoffeeGrinder</title>
<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= stylesheet_pack_tag 'application', media: 'all' %>
<link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
<title><%#= meta_title %></title>

