<br>
<div class="container show-container">

  <h5 class="mb-2"><em>"Psychologist Susan Pinker states that direct person-to-person contact triggers parts of our nervous system that release a "cocktail" of neurotransmitters tasked with regulating our response to stress and anxiety."
   </em></h5>
  <h5 style="float:right;">Medical News Today, 2018</h5>
</div>
