<p id="notice"><%= notice %></p>


<div class="map-container" style="position: sticky; top: 50px;">
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        class="map"
      >
      </div>
